pgdata
node_modules

yarn-error.log
dist
build
tmp
pnpm-debug.log
sandbox
.DS_Store
query-engine*

*tmp.db
dist/

*.tsbuildinfo
.env*
.prisma
.pnpm-store

.vscode
!.vscode/launch.json
coverage

.eslintcache

# TypeScript incremental compilation cache
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Mac OS
.DS_Store